html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  .button {
    background-color: #303030;
    color: rgb(255, 215, 0);
    border-color: rgb(255, 215, 0);
    border-radius: 10px;
    font-weight: bold;
    width: 80px;
    height:25px;
  }
  